services:
  db:
    image: groonga/pgroonga:3.1.5-alpine-16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: search_engine
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d search_engine"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://user:password@db/search_engine
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./app:/code # Hot reload

volumes:
  pg_data:
